*{
    margin:0;

    --jost: "Jost", sans-serif;
    --roboto: "Roboto", serif;

    /*Colors*/
    --preto: #1A1510;
    --backColor: #F7F1E5;
    --yellow: #FFC100;/*organizations*/
    --terra:#B05E27; /*female*/
    --green1: #898121; /*male*/
    --green2: #4C4B16;

    /*categorias*/ 
    --c1: #460002;
    --c2: #860A0A;
    --c3 : #DE783A;
    --c4 : #C3A768;
    --c5 : #5F6B53;
    --c6 : #15616E;
}

body{
    overflow: hidden; /*bloqueia o scroll*/
    background-color: var(--backColor);
    font-family: var(--jost);
}

#my-dataviz{
    width:100vw;
    height:100vh;
    position:fixed;
}

svg {
    border: 1px solid var(--backColor);
    display: block;
    margin: auto;
    width:100%;
    height:100%;
}

/*Divs principais*/
#title{
    position:fixed;
    top:30px;
    left:30px;
    color: var(--preto);
}

#other_text{
    font-family: var(--roboto);
    width:35%;
    position: fixed;
    bottom:30px;
    right:30px;
    color: var(--preto);
}

/*content dentro das divs*/
h1{
    font-size: 60px;
    font-weight: 700;
    font-style: normal;
    margin:0;
}

span{
    font-size:40px;
}

#name{
    font-size:34px;
    font-weight:500;
}

p{
    font-size:16px;
}

#tooltip{
    white-space: pre;
    background-color:white;
}